.input-wrapper {
  padding-top: calc(var(--size-bezel) * 2 + 3px);
}

.input {
  position: relative;
}

.label {
  position: absolute;
  left: 0;
  top: 0;
  padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * 0.5);
  margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * 0.5);
  white-space: nowrap;
  transform: translate(0, 0);
  transform-origin: 0 0;
  background: var(--bg-color);
  transition: transform 120ms ease-in;
  font-weight: bold;
  line-height: 1.2;
  cursor: text;
}

.field {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 3px solid var(--primary-color);
  padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
  color: var(--primary-color);
  background: transparent;
  border-radius: 5px;

  &:focus,
  &:not(:placeholder-shown) {
    & + .label {
      transform: translate(0.25rem, -65%) scale(0.8);
      color: var(--primary-color);
    }
  }
}