.app_light-theme {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #0b0b64;
  --primary-color: #0232c2;
  --secondary-color: #0d59ff;
  --inverted-primary-color: #17f717;
  --inverted-secondary-color: #04ff04;
  --icon-color: #ffc700;
  --inverted-icon-color: #0115c6;
}